﻿@model IEnumerable<WebInterfaceForLoad.Models.BalanceAccount>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th colspan="2">ВХОДЯЩЕЕ САЛЬДО</th>
            <th colspan="2">ОБОРОТ</th>
            <th colspan="2">ИСХОДЯЩЕЕ САЛЬДО</th>
        </tr>
        <tr>
            <th>Б/сч</th>
            <th>Актив</th>
            <th>Пассив</th>
            <th>Дебет</th>
            <th>Кредит</th>
            <th>Актив</th>
            <th>Пассив</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var rec in Model)
    {
        <tr>
            <td>@rec.BalanceAccountNumber</td>
            <td>@rec.IncomingBalanceActive</td>
            <td>@rec.IncomingBalancePassive</td>
            <td>@rec.Credit</td>
            <td>@rec.Debit</td>
            <td>@rec.OutcomingBalanceActive</td>
            <td>@rec.OutcomingBalancePassive</td>
        </tr>
    }
    </tbody>
</table>
